body {
  background-color: #f0f2f5;
}

.container-login {
  background-color: #6b90d7 !important;
  border-radius: 100px 0 100px 0;
  padding: 2% 4%;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
}

.d-flex {
  display: flex;
  justify-content: center;
}
